{% assign event = include.event %}
<article class="event is-inline" itemscope itemtype="http://schema.org/SocialEvent" itemid="{{ event.url | prepend: site.baseurl }}">
  <div style="display:inline-block">
    <div style="float:left">
      <img src="{{ event.logo }}" width="80" /> 
    </div>
    <div style="float:left; margin-left:10px;">
      <header>
        <h1 class="event-title">
          {% include event-title.html event=event %}
        </h1>
      </header>
    </div>
  </div>
  <div>
    {% if event.talks %}
    <ol class="talk-list is-short">
    {% include talk-list.html talks=event.talks show_abstract=false %}
    </ol>
    {% endif %}
  </div>
  
</article>